@{ 
    ViewData["Title"] = "Developer";
}
<div class="card" style="width: 500px; margin: auto;">
    <img src="~/IMG_20160531_192445.jpg" class="card-img" />
    <div class="card-body">        
        <div class="card-title">Md. Sibli Rayhan</div>
        <div class="card-text">
            <p>
                Technology is spreading all over the world. Web Development bring a new pattern to know about you and your organization.
                In the age of mordernity and technology, we expect that every organization and people have need a website or web application.
                For bring a mordern inentity we are here. I want to help you for developing your website.
            </p>
        </div>
    </div>
    
</div>