@{
    ViewData["Title"] = "Dashboard";
}
<h1 class="text-muted border-bottom">Wellcome to Fruit Bazar.</h1>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <img src="~/orangebackground.jpg" style="height: 700px" class="card-img" />
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="~/Indian-mangoes-in-the-US.jpg" style="height: 700px" class="card-img" />
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <img src="~/variousfruits.jpg" style="height: 700px" class="card-img" />
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>



<!---Top Fruits-->
<h1 class="border-bottom">Top Fruits</h1>
<div class="row">
    <div class="col">
        <div class="col-md-12">
            <div class="card">
                <img src="~/5ecec742988ee3402d46c1cc.jpg" class="card-img" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <img src="~/apples fruits.jpg" class="card-img" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md-12">
            <div class="card">
                <img src="~/person-walking-on-pathway-3348363.jpg" class="card-img" />
            </div>
        </div>
    </div>
</div>

<!---Most Selling Fruits-->
<h1 class="border-bottom">Most Selling Fruits</h1>
